<div id="{{id}}" class="til">
  <div class="row text-center til-header">
    <h1>{{title}}</h1>
    <a href="{{user.html_url}}">
      <span class="text-muted">{{user.login}}</span>
    </a>
    &nbsp; &nbsp; &#8226; &nbsp; &nbsp;
    <a href="{{issue}}">
      <span class="text-muted">{{date}}</span>
    </a>

    <div style="padding-top:15px">
    {{#each labels}}
      <span class="badge" style="background-color: #{{color}};">
        {{name}}
      </span>
    {{/each}}
    </div>
  </div>
  <div class="row">
    {{{body}}}
  </div>
  <div class="row">
  <span class="badge">{{comments.length}}</span>
  </div>
</div>
