<div id="{{anchor}}" class="til">



  {{!-- {{show header}} --}}

  <div class="til-header">



    {{!-- {{show title along with the hover anchor tag}} --}}

    <div class="row text-center">
      <h1>
        <a href="#{{anchor}}" class="header-link">
          <small><i class="glyphicon glyphicon-link"></i></small>
        </a>
        {{title}}
        {{!-- {{for centering purposes only}} --}}
        <a class="header-link" style="opacity: 0;">
          <small><i class="glyphicon glyphicon-link"></i></small>
        </a>
      </h1>
    </div>



    {{!-- {{show author and date}} --}}

    <div class="row text-center">
      <div class="col-xs-5">
        <a class="pull-right" href="{{user.html_url}}">
          <span class="text-muted">{{user.login}}</span>
        </a>
      </div>
      <div class="col-xs-2">
        &nbsp; &nbsp; &#8226; &nbsp; &nbsp;
      </div>
      <div class="col-xs-5">
        <a class="pull-left" href="{{issue}}">
          <span class="text-muted">{{date}}</span>
        </a>
      </div>
    </div>



    {{!-- {{show labels}} --}}

    <div class="row text-center">
      <div style="padding-top:15px">
      {{#each labels}}
        <span class="badge" style="background-color: #{{color}};">
          {{name}}
        </span>
      {{/each}}
      </div>
    </div>
  </div>



  {{!-- {{show the post}} --}}

  <div class="til-body">
    <div class="row">
      {{{body}}}
    </div>
  </div>



  {{!-- {{show twitter share button}} --}}

  <div class="til-footer">
    <div class="row text-center">
      <a target="_blank" class="share" href="https://twitter.com/share?url={{href}}">
        <img src="img/twitter.png" />
      </a>
    </div>
  </div>
</div>